* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/background.jpg');
	background-repeat: repeat-x;
	font-family: Tahoma, sans-serif;
	}


.wrapper {
	max-width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.41);
	-moz-box-shadow: 0 4px 8px 2px rgba(0,0,0,0.41);
	box-shadow: 0 4px 8px 2px rgba(0,0,0,0.41);
	
}

/*HEADER*/

header {
	height: 175px;
}

.contacts {
	float: right;
	line-height: 18px;
	margin: 10px 33px;
	padding-bottom: 30px;
	font: 12px 'Tahoma', sans-serif;
	color: #009999;

}

header a {
	display: inline-block;
}

h3 {
	font-weight: 600;
	
}

.countries {
	float: right;
	display: inline-block;
	text-align: center;
	clear: right;
	margin-right: 10px;
	
}




.countries ul {
	display: -webkit-inline-box;
    margin-right: 10px;

}


.countries ul li {
	margin-right: 10px;
	list-style:  none;
}

#last_flag {
	margin-right: 0;
}



.countries a{
	color: #009999;
	font-size: 10px;

}

img {
	max-width: 100%;
}

/*MENU*/


.menu {
	
	height: 28px;
	max-width: 100%;
	line-height: 28px;
    vertical-align: middle;
	border-bottom: 1px solid black;
	font-size: 14px;
	background-color: #333333;
	box-sizing: border-box;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0 2px 2px 0 rgba(50, 50, 50, 0.62);
	box-shadow:         0 2px 2px 0 rgba(50, 50, 50, 0.62);


}



.navigation >li {

	float: left;
	margin-right: 55px;
	/*padding-right: 55px;
	height: 20px;*/
	cursor: pointer;
	position: relative;
	background-color: #343434;
	list-style:  none;
}

.navigation li a {
	display: block;
	font-size: 14px;
	color: white;
	text-decoration: none;	
}


ul li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 20px;
	margin: 0;
	width: 100%;
	color: white;
	background-color: #333;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    0 2px 2px 0 rgba(50, 50, 50, 0.62);
	box-shadow:         0 2px 2px 0 rgba(50, 50, 50, 0.62);
    
}

ul li ul li {
	float: none;
	display: block;
	background: none;
	margin-left: 5px;
}

ul.submenu > li {
	margin-left: 0;
	padding-left: 3px;

}

ul li:hover ul {
display: block;
}


.first_navigation {
	padding-left: 65px;

}

#last_navigation {
	margin-right: 0;
	padding-right: 35px;


}

.subnavigation {
	width: 150px;
}

.sumbols {
	color: white;

}




/*COLUMNS*/
.columns_box {
	height: 560px;
	
}

.columns {
	height: 100%;
	/*height: 548px;*/
	width: 21%;
	box-sizing: border-box;
	padding: 0 3px;
	background-color: #edeef0;
	border: 1px solid #c7cacf;
	color: #424c43; 
}
.left-column {
	float: left;
	box-sizing: border-box;
}

.right-column {
	float: right;
}



.center-column {
	width: 50%;
	margin: 0 auto;
	padding: 0 3px;
	background-color: #fff;

}

.columns > h3 {
	/*margin: 5px 0;*/
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #424c43; 
}

.columns span {
	line-height: 25px;
}

/*FOOTER*/

footer {

	clear: both;
	text-align: center;
	color: white;
	margin: 0 auto;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;

}