 h1{
     font-weight: bold;
     color: #1f1f1f;

 }
 div.wrapper{
     width: 500px;
     margin: 0 auto;
 }
 h3{
     font-weight: bold;
 }
 .name,
 .reasons-list,
 .contacts {
     border-bottom: 1px solid #C5C7C8;
 }
 .letter{
    font-size: 12px;
 }
 img{
     width: 205px;
     height: 205px;
     margin-left: 80px;
 }

 .set{
    font-size: 14px;
    color: black;
 }
 .phone-number{
    margin-left: 30px;
 }
 .social-link{
    color: blue;
    margin-left: 35px;
 }
