body, html {
  width: 100%;
  font-family: Myriad Pro, sans-serif;
}

.form {
  background-color: white;
}
.title {
	font: 12px 'Myriad Pro', sans-serif;
}

.li {
	margin-left: 120 px;
	list-style:  none;
}
