*{
	margin: 0;
	padding: 0;
}
 

.wrapper {
	max-width: 1060px;
	margin: 0 auto;
	padding: 47px;
	box-shadow: 0px 3px 2px 2px #dbdbdb;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial sans-serif;

}

/*HEADER*/

header {
	margin-bottom: 30px;
   }

h1  {
	font-size: 40px;
	
}

a {
	text-decoration: none;
    color: black;
    font-weight: 600;
}

body {
	overflow-x: hidden;

}

 /*NAVIGATION*/

div.m-top {
	
	background-color: #4f4f4f

}

div.m-top ul {
	list-style: none;
	margin-bottom: 20px;

}

.m-top ul li {
	border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-item {
	float: left;
}
	
.m-top li:hover,
.m-top li:active {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background: #333333;
    color: white;
}

div.m-top ul a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 20px;
}


/*SIDEBAR*/

.m-main {
	width: 25%;
	float: left;
	margin-right: 30px;
}

nav {
	max-width: 240px;
	margin: 0;
	clear: both;
}



nav ul {
	list-style: none;
	border: gray solid 1px;
}

.m-main a:hover,
.m-main a:active {
	padding-left: 30px;
	color: black;
}

nav li {
	height:40px;
}



.bottom {
	border-bottom: gray solid 1px;
}



nav ul a {
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	color: gray;
}

/*Photo and content*/


article {
	width: 70%;
}

.article {
	float: right;
	width: 70%;
}

.photo {
	max-width: 100%;
}

.content{
	margin-left: 30px;
	margin-top: 40px;
}



/*FOOTER*/

footer.footer {
	box-sizing: border-box;
	width: 100%;
	padding-top: 20px;
	background-color: #e1e1e1;
	margin-top: 60px;
}


footer ul li {
	display: inline;
}


footer ul { 
	float: left;
}

	
footer ul li a {
	color: black;
	text-decoration: none;
	margin: 0 20px;
}

.footer li:hover,
.footer li:active{
	text-decoration: underline;
}


span {
	float: right;
	padding: 0px 30px 10px 0px;
}


.clearfix::after {
	display: block;
	content: '';
	clear: both;
}