*{
	margin: 0;
	padding: 0;
}
 

.wrapper {
	width: 1060px;
	height: 950px;
	margin: 0 auto;
	padding: 47px 0px 47px 0px;
    box-shadow: 0px 3px 2px 2px #dbdbdb;
    font-family: 'Open Sans', sans-serif;

}

/*HEADER*/

header {
	width: 100%;
	height: 130px;
	padding: 1em;
	float: left;
	 margin-left: 47px;

}

div.div1 li { /*border: #333 solid 1px;*/
					position: absolute;
					color: white;
					 margin-left: 47px;

					 box-sizing: border-box;
					 background-color: #4f4f4f;
					}
div {
	width: 100%;
	height: 40px;

}
div.div1 {
	
    position: absolute;
	box-sizing: border-box;

	
}

/*SIDEBAR*/

nav {
    float: left;
    max-width: 240px;
   	margin: 0;
    padding: 1em;
   

}

nav ul {
    list-style: none;
    
}
nav li {
     border: #333 solid 1px; 
     width:240px; 
     height:40px;
     margin-left: 47px;
}


}
nav ul a {
	padding-left;
    text-decoration: none;
    display: block;
    color: black;
}




/*Photo and content*/

article {
	float:right; 
	position: relative;
	height: 583px;
    width: 678px;
    margin: 0px 47px 35px 0px;

}
.div2 {
	position: absolute;

}

/*FOOTER*/

footer.footer {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	background-color: #e1e1e1;
	
}


footer ul li {
	        /*padding-top: 12px;
			background-color: #e1e1e1;
			height: 40px;*/
			display: inline-block;
	        /*padding: 10px 27px;*/
}


ul {
	list-style: none;
	float: left;
}


	


a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}


ul li a.goods{text-decoration: underline;}

span {
	float: right;
	padding: 10px 30px 10px 0px;
}

@media screen and (max-width: 600) {
	sidebar {
		display: none;
	}
}


